.form-access {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    padding: 2%;
    margin-top: 15%;
}
.form-access button, .form-access input{
    width: 50%;
    margin: auto;
}
#rejoindre {
    background-color: #51bcd5;
    border-radius: 5px;
    color: white;
    border: 2px solid #9cd7df;
}
button {
    margin-bottom: 5% !important;
}
h1 {
    color: #51bcd5;
}
a {
    color: #51bcd5;
}
.hide {
    display: none;
}
#messages {
    width: 100%;
    height: 500px;
    box-shadow: 0 0 5px black;
    margin-bottom: 3%;
}